.THIS {
	padding-left: 14px;
	padding-top: 14px;
    margin-left: 14px;
}

.THIS .heightFeet {
	margin-right: 7px;
}

.THIS .error {
	color: red;
}

.THIS .resultPositive {
	color: green;
}

.THIS .resultNegative {
	color: red;
}

.THIS .resultCaption {
	color: green;
}

.THIS  select {
	box-sizing: border-box;
	line-height: 20px;
	width: 60px;
    border-radius: 0;
    box-shadow: none;
    padding: 4px;
}